**/.terraform
ansible/ANSIBLE_ENV/bin
ansible/ANSIBLE_ENV/include
ansible/ANSIBLE_ENV/lib
ansible/ANSIBLE_ENV/lib64
ansible/ANSIBLE_ENV/pyvenv.cfg
**/terraform.tfstate.backup
**/terraform.tfstate
**/.terraform*
statexec
cluster_network.cfg
ansible/roles/run_traffic_shaping_k6/templates/2024*
ansible/roles/run_traffic_shaping_k6/templates/plot_output.py
ansible/roles/run_traffic_shaping_k6/templates/save_ratio_to_csv.py
ansible/roles/run_traffic_shaping_k6/templates/test.js
ansible/roles/run_traffic_shaping_k6/templates/output*
