---
apiVersion: cilium.io/v2
kind: CiliumEgressGatewayPolicy
metadata:
  name: egress-gateway-policy
  namespace: default
spec:
  destinationCIDRs:
    - "0.0.0.0/0"
  selectors:
    - podSelector:
        matchLabels:
          role: filter
  egressGateway:
    nodeSelector:
      matchLabels:
        egress-node: "true"
    egressIP: {{ egress_ip }}

